@model Adm_Imoveis.Models.Visita

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Visita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idCorretor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idCorretor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idImovel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idImovel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dtVisita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dtVisita)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdVisitas">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
